.levelWrapper {
  width: 42px;
  height: 32px;

  .borderParent {
    position: relative;

    .lineContainer {
      padding: 0;
      position: absolute;
      top: 22px;
      left: 11px;
      transform: translateX(-50%);
      width: 2px;
      background-color: #aaa;
    }
    .lineChildContainer {
      padding: 0;
      position: absolute;
      top: 13px;
      left: -10px;
      transform: translateY(-50%);
      width: 15px;
      height: 2px;
      background-color: #aaa;
    }
    .editIcon {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.1s ease-in-out;
      border-radius: 5px;

      & svg {
        padding-top: 5px;
      }

      .bin {
        display: none;
      }

      &:hover {
        background-color: #555;

        .bin {
          display: block;
        }
      }
    }
    .icon {
      cursor: auto;
      padding: 0;

      & svg {
        padding-top: 5px;
      }

      .bin {
        display: none;
      }
    }
  }
}
