.sidebarWrapper {
  width: 100%;
  color: #eee;

  .sidebarHeader {
    height: 49px;
    max-height: 49px;
    color: #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;

    & p {
      line-height: 0.1;
    }
    & p:nth-of-type(2) {
      font-size: 12px;
      margin-top: -5px;
    }
  }
  .sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .projects {
      padding: 20px;
      height: 40px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;

      &_active {
        @extend .projects;
        background-color: #999;
      }
    }
  }
}
