.spinnerWrapper {
  top: 40px;
  position: absolute;
  background-color: rgba(35, 35, 35, .95);
  width: 100%;
  height: 60vh;

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    text-align: center;
  }

  .spinner {
    margin-top: 10%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #8d7fc7;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
