.tableWrapper {
  position: relative;
  & table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      th {
        color: #aaa;
        text-align: start;
        border-bottom: 1px solid #333;
        min-height: 80px;

        &:nth-of-type(1) {
          padding: 20px;
        }

        &.level {
          width: 10%;
        }

        &.name {
          width: 30%;
        }

        &.salary,
        &.equipment,
        &.overhead,
        &.profit {
          width: 15%;
        }
      }
    }

    tbody {
      color: #eee;

      tr {
        border-bottom: 1px solid #333;

        &:last-of-type {
          border-bottom: none;
        }
        td {
          padding: 20px;

          &.editTd {
            padding: 10px 0;

            & div {
              line-height: .5;
            }

            & input {
              width: 90%;
              padding: 10px;
              margin: 7.5px 0;
              background-color: transparent;
              border: 1px solid #333;
              border-radius: 5px;
              outline: none;
              line-height: 1;
              color: #eee;
            }
          }
        }
      }
    }
  }
}
