/* Сброс стилей таблицы */
.tableWrapper {
  & table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      th {
        color: #aaa;
        text-align: start;
        padding: 20px;
      }
      th.level {
        width: 10%;
      }

      th.name {
        width: 30%;
      }

      th.salary,
      th.equipment,
      th.overhead,
      th.profit {
        width: 15%;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #333;
      }

      td {
        padding: 20px;
        color: #eee;
      }

      td {
        border-bottom: 1px solid #333;
      }
    }
  }
}
